<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {{>headerlinks}}
    <style>
         #sidebar ul li.profile a{
    color: #5e63ff;
    svg{
        fill: #5e63ff;
    }
 }
    </style>
</head>
<body>
    {{>adminsidenav}}
    <main>
        
    </main>
</body>
</html>