<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{>headerlinks}}

    <title>Welcome</title>

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/script.js"></script>

</head>

<body>
    {{>navbar}}

    <div class="container">
        <div class="hero-section">
            <div>

                <h1>Start Selling and Growing with Us!
                </h1>
            </div>
            <h6 class="pt-4">Join our gifting marketplace where thousands of customers are looking for products like
                yours.</h6>

            <div class="action-btn-container">
                <button class="action-btn">Register with us now</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="pitch-sec" class="pitch-section d-flex">
            <div style="display: flex; align-items:center; width:50%;margin-right:8px">

                <h3>Why parter with us?</h3>
            </div>
            <div class="features-us">









                <div class="parent">
                    <div class="div1">
                        <div>
                            <h6>Lowest Commission Promised!</h6>
                            <p>Maximize your profits with low commission rates that prioritize your growth</p>
                        </div>
                    </div>
                    <div class="div2">
                        <div>
                            <h6>Unlimited Products</h6>
                            <p>No limit of the products. Setup your store as you want.</p>
                        </div>
                    </div>
                    <div class="div3">
                        <div>
                            <h6>Broad Reach</h6>
                            <p>Expand your reach to thousands of customers looking for unique gifts for every occasion.
                            </p>
                        </div>
                    </div>
                    <div class="div4">
                        <div>
                            <h6>For small, Medium to Large Business</h6>
                            <p>Whether you’re just starting or are an established business we are here for you!</p>
                        </div>
                    </div>
                    <div class="div5">
                        <div>
                            <h6>Support at Every Step</h6>
                            <p>From onboarding to selling, our dedicated vendor support team is here for you.</p>
                        </div>
                    </div>
                    <div class="div6">
                        <div>
                            <h6>Easy-to-Use Platform</h6>
                            <p>Start selling quickly with our user-friendly setup and management tools, perfect for any
                                skill level.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


<div class="bind-container">

<div class="custom-shape-divider-top-1731587920">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
    </svg>
</div>

    <div class="container">
        <div class="section my-5 p-5">
            <div class="non-registerd">
                <h4 class="text-center">Dedicated support to Non-Registered business and indiviuals.</h4>
                <p class="text-center">Not Registerd? No Problem.</p>

                <p class="text-center p-2 pt-4" style="">Perfect for hobbyists, crafters, and anyone with a passion!</p>

                <div class="indiv d-flex p-5">
                    <h6>No Business Registration Required</h6>
                    <h6>Grow at Your Own Pace</h6>
                    <h6>Easy Start-Up Process</h6>
                    <h6>Supportive Community</h6>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="features">
            <h3 class="text-center">Features and Benifits</h3>
            <div class="card-container-1 d-flex">
                <div class="card-f">
                    Easy Store Setup
                </div>
                <div class="card-f">
                    Vendor First Approch
                </div>
                <div class="card-f">
                    Real Time Dashboard
                </div>
                <div class="card-f">
                    Multiple Payment option
                </div>
                <div class="card-f">
                    Easy Payout
                </div>
                <div class="card-f">
                    No limits on products
                </div>
                <div class="card-f">
                    Multiple Catagoires
                </div>
                <div class="card-f">
                    Broad Audience
                </div>
                <div class="card-f">
                    Full Access to the Features
                </div>
                <div class="card-f">
                    Easy Customization of Products
                </div>
                <div class="card-f">
                    Inventory management
                </div>
            </div>
        </div>
    </div>

    <div class="custom-shape-divider-top-1731587920-2">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
    </svg>
</div>

</div>
    <div class="container">
        <div id="plans-section" class="plans-sec my-5">
            <div class="plan-head">
                <h3 class="text-center">Limited Period Time Offer!</h3>
                <h5 class="text-center p-3">Zero Cost Setup + Free Plan </h5>
                <div class="flex-box-cont d-flex my-5">
                    <div class="box1 text-center m-3 p-3">
                        <h3 class="p-3">Free for All</h3>
                        <h6>₹0 Setup Cost</h6>
                        <h6>₹0 Monthly Subscriptions
                        </h6>
                        <small>*Limited Period Deal</small>
                    </div>
                    <div class="box2">
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Unlimited Products</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Publish Product Directly
                        </div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Digital Products</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Vast Catagoires</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Create Coupons</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Multiple Address</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Live Dashboard</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Analytics and Reporting
                        </div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Store SEO</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Product SEO</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Responsive Support Team
                        </div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Unlimited Members</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container  text-center">
        <div class="social-media-invite m-5 p-3">
            <h3>Connect with Us on Social Media!</h3>
            <p>Stay updated, get inspired, and be part of a growing community of successful vendors.</p>

            <div class="icon-container">
                <a class="social-icon-link" href="#"><i class="fa-brands fa-instagram"></i></a>

                <a class="social-icon-link"  href="#"><i class="fa-brands fa-facebook"></i></a>
                <a class="social-icon-link"  href="#"><i class="fa-brands fa-telegram"></i></a>
            </div>
        </div>
    </div>




<div class="svg-design">

<div class="custom-shape-divider-top-1731587920">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
    </svg>
</div>
    <div class="container">






        <div class="final-cta my-4 p-2">
            <div class="item-container text-light">

            <h2 class="text-center pb-3 fw-bold">Ready to Grow Your Business?</h2>
            <h6 class="text-center">Join our growing community of successful vendors and start reaching more customers
                today!</h6>

            </div>
            <div class="form-container">
                <div class="form">
                    <h5>Fill out the below form! We will get back to you!</h5>
                    <form class="px-5 py-3" action="#">
                        <div class="p-2">
                            <input placeholder="Name*" type="text" name="text" class="input-cta">

                        </div>
                        <div class="p-2">
                            <input placeholder="Bussiness Email*" type="email" name="text" class="input-cta">

                        </div>
                        <div class="p-2">
                            <input placeholder="Phone*" type="phone" name="text" class="input-cta">

                        </div>
                        <div class="p-2">
                            <input placeholder="Best Selling Product (Any one)" type="text" name="text" class="input-cta">

                        </div>
                
                        <div>

                            <div class="mydict p-2">
                                    <label for="">Business Type*</label>
                                <div>
                                    <label>
                                        <input type="radio" name="radio" checked="">
                                        <span>Registerd</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="radio">
                                        <span>Non-Registered</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="radio">
                                        <span>Indiviual</span>
                                    </label>

                                </div>
                            </div>
                                    <div class="p-2">
                            <textarea placeholder="Additional Information" rows="4"  name="text" class="input-cta"></textarea>

                        </div>
                        </div>


                        <div class="text-center">
                            <div class="btn-container">
                                <button class="submit-btn">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


<div class="footer mt-3 p-4">
    <div class="text-light text-center">
        <small>&#169; 2024. All rights reserved.</small>

    </div>
</div>

</div>
    <script src="/js/script.js"></script>

</body>

</html>